* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  border: 0;
  background-color: #63d471;
  background-image: linear-gradient(178deg, #21bb59 0%, #0b723e 74%);
}

label {
  font-size: 1.2em;
  font-weight: 500;
}

section#heatmap {
  background-color: rgb(230, 230, 230);
}

#poster {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 700px);
  margin: 0 auto;
}

#carousel img {
  height: 500px;
}
#carousel {
  margin: 5% 5% 5% 10%;
}

.cleancitytext {
  font-family: fantasy;
  color: whitesmoke;
  margin: 0% 5% 5% -2%;
  font-size: 10rem;
}

.cleancitytext2 {
  font-family: fantasy;
  color: whitesmoke;
  margin: -20% 0% 0% -2%;
  font-size: 10rem;
}
.subtext {
  font-family: auto;
  font-size: 1.3rem;
  color: whitesmoke;
}
#explorebtn {
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  margin: 2% 0%;
  color: green;
  font-size: 1.2em;
  padding: 0.5% 1%;
  font-weight: 600;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#explorebtn:hover {
  color: whitesmoke;
  background-color: transparent;
}
.uploadform,
#garbagesection {
  width: 90%;
  margin: 0 auto;
}

#garbagesection img {
  margin: 0 auto;
}
#garbagesection .card {
  border: none;
}
.footer {
  position: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #8f5c00;
  color: white;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  background-color: transparent;
}
.gallery img {
  width: 100%;
  height: 300px;
}

.item {
  position: relative;
  width: 100%;
}

.latest {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.middle {
  border-radius: 0px;
  width: 100%;
  min-height: 20%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0%;
  left: 0%;
  text-align: center;
  vertical-align: middle;
}

.text1 {
  position: absolute;
  color: rgb(255, 255, 255);
  overflow: hidden;
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  padding: 10px 15px;
  animation-name: text;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
.text2 {
  position: absolute;
  color: rgb(255, 255, 255);
  overflow: hidden;
  font-size: 1.3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500px;
  padding: 10px 15px;
  animation-name: text;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes text {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-group {
  margin: 40px;
  background-color: transparent;
}

.card {
  margin: 2%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}

.iconimg img {
  height: 180px;

  width: 70%;
  margin: 0 auto;
  padding-top: 2%;
}
section#viewReports .card:hover {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
}

textarea,
#name,
#contactNumber {
  border: 1px#DDDDDD solid;
  border-radius: 10px;
  outline: none;
  resize: none;
}
.mainh4 {
  padding: 5px;
  color: whitesmoke;
  background-color: rgb(0, 0, 0, 0.6);
  border: 0.7px double white;
  text-shadow: 3px 3px 8px rgb(0, 0, 0);
}

/* CSS for dashboard notif */
  .ToRchart svg{
    margin: -30 -30 0 0 !important;
    width: 80%;
    
  }
.notif{
            height: 4.2rem;
             font-size: 1.1rem;
            width: 25rem;
            /* border-radius: 6px; */
            margin: 0 !important;
            
        }

        #analysisTiles .col{
              height: 70px;
            margin: 40px 10px 0 0;
            background-color: slategrey;
            font-size: 1.3rem;
            box-shadow: 0 
            
  
          }
         
          .notification{
    content: "";
    display: block;
    position: relative;
    width: 8px;
    height: 8px;
    background: rgb(96, 136, 114);
    top: 0;
    right: 0;
    border-radius: 50%;
}
          #analysisTiles{
            background-color: cornsilk
          }
         .icon1 {
  padding: 10px;
  background: red;
  color: white;
  height: 70px;
  width: 70px;
  align-content: left;
  margin-left: 10px;
}
  .icon2 {
  padding: 10px;
  background: blue;
  color: white;
  height: 70px;
  width: 70px;
  align-content: left;
}
  .icon3 {
  padding: 10px;
  background: grey;
  color: white;
  height: 70px;
  width: 70px;
  align-content: left;
}
        .notif .card-body{
          
            padding: 6px;
            font-weight: 600;
        }
        .critical{
          background-color:rgb(235, 44, 19);
        }
        .medium{
          /* background-color:rgb(235, 176, 66);
           */
           background-color: orange;
        }
        .light{
          background-color:rgb(255,255,0);
          
        }
        .color{
          color: red;
        }
/* END */

@media only screen and (max-width: 1024px) {
  #carousel img {
    height: 400px;
  }
  .mapcontainer {
    height: 406px;
  }
  .cleancitytext {
    font-size: 6rem;
  }
  .cleancitytext2 {
    font-size: 6rem;
  }
  .subtext {
    font-size: 1rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
    background-color: aquamarine;
  }
  .gallery img {
    width: 100%;
    height: 200px;
  }
  .iconimg img {
    height: 150px;
  }
  .text1 {
    font-size: 0.7rem;
  }
  .text2 {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .card h4 {
    font-size: 1rem;
  }
  #carousel img {
    height: 350px;
  }
  .cleancitytext {
    font-size: 4rem;
  }
  .cleancitytext2 {
    font-size: 4rem;
  }

  #poster {
    height: 400px;
  }
}
@media only screen and (max-width: 600px) {
  .cleancitytext {
    font-size: 7rem;
    margin: 3%;
  }
  .cleancitytext2 {
    font-size: 7rem;
    margin: -20% 0% 2% 3%;
  }
  #carousel {
    margin: 5%;
  }
  .subtext {
    padding: 3%;
    font-size: 1.2rem;
  }
  #explorebtn {
    margin: 2% 10%;
    font-size: 1rem;
  }
  #poster {
    height: 700px;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 570px) {
  #carousel img {
    height: 250px;
    width: 90%;
  }
  .mapcontainer {
    height: 400px;
  }
  .cleancitytext2 {
    margin: -20% 0% 2% 3%;
  }
  .gallery {
    display: block;
    margin: 0 auto;
    background-color: white;
  }
  .gallery img {
    display: block;
    height: 200px;
    width: 80%;

    margin: 0 auto;
    margin-top: 10%;
  }
  .iconimg img {
    height: 150px;
    width: 150px;
  }
  .card h4 {
    font-size: 1.5rem;
  }
  .card p {
    font-size: 1.1rem;
  }
  .mapcontainer {
    height: 256px;
  }
}
@media only screen and (max-width: 425px) {
  .cleancitytext {
    font-size: 4rem;
    margin: 3%;
  }
  .cleancitytext2 {
    font-size: 4rem;
    margin: -15% 0% 2% 3%;
  }
  .subtext {
    padding: 3%;
    font-size: 1.2rem;
  }
  #explorebtn {
    margin: 2% 10%;
    font-size: 1rem;
  }
  #poster {
    height: 540px;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 320px) {
  .cleancitytext {
    font-size: 4rem;
    margin: 3%;
  }
  .cleancitytext2 {
    font-size: 4rem;
    margin: -18% 0% 2% 3%;
  }
  .subtext {
    padding: 3%;
    font-size: 1rem;
  }
  #explorebtn {
    margin: 2% 10%;
    font-size: 0.9rem;
  }
  #poster {
    height: 500px;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 990px) {
  #navupload {
    border-radius: 0%;
    padding-left: 5px;
  }
}
@media only screen and (max-width: 615px) {
  #name,
  #contactNumber,
  textarea,
  .uploadform label {
    width: 70vw;
  }
  #uploadimage {
    width: 22rem;
  }
  #problemtype {
    width: 11rem;
  }
}

/* footer design */

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 20px 40px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* media queries for making footer responsive  */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

.bar {
  fill: green;
}