body{
  margin:0;
  border:0;
}
#carousel img{

  height: 500px;
}
#carousel{
  width: 85%;
  margin: 0 auto;
}
.uploadform, #garbagesection{
    width: 90%;
    margin: 0 auto;
    
  background-color:  rgb(220, 248, 248);
}
.footer {
  position: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #8f5c00;
  color: white;
  text-align: center;
}
.gallery{
  
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,300px);
  background-color: aquamarine;
}
.gallery img{
  width: 100%;
  height: 300px;
}

.card-group{
  margin:40px;
  
}

.card{
  margin: 2%;
  transition: all .2s ease-in-out;
}

  .iconimg img{
     height: 180px;
      transition: all 0.4s;
      width: 70%;
      margin: 0 auto;
      padding-top:2%;
      }
    .card:hover{
        transform: scale(1.1);
      }

.mapcontainer{

  width: 90%; 
  border: 3px gray solid;
  border-spacing: 2px;
  margin: 0 auto;
  height: 506px;

}
#heatmap{
  background-color: rgb(220, 248, 248);
}
textarea, #name{
  border: 1px#DDDDDD solid;
  border-radius: 10px;
  outline: none;
  resize: none;
  
  
}
h4{
  color:darkcyan;
}

.navbar{
  background-color: rgb(220, 248, 248);
}
#navupload{
  background-color:darkcyan;
  color: rgb(220, 248, 248);
  border-radius: 10%;
  font-size: 1rem;

}

@media only screen and (max-width: 1024px){
  #carousel img {
    height: 400px;
  }
  .mapcontainer{
    height: 406px;
  }

  .gallery{
  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,200px);
    background-color: aquamarine;
  }
  .gallery img{
    width: 100%;
    height:200px;
  }
  .iconimg img{
    height: 150px;
 
  }
}

@media only screen and (max-width: 768px){
   .card h4{
    font-size: 1rem;
  } 
  #carousel img {
    height: 350px;
  }
}

@media only screen and (max-width: 570px){
  #carousel img {
    height: 250px;
    width: 90%;
  }
  .mapcontainer{
    height: 400px;
  }
 
  .gallery{
  
    display: block;
   margin: 0 auto;
   background-color: white;
   
  }
  .gallery img{
    display: block;
    height:200px;
    width: 80%;
    
    margin: 0 auto;
    margin-top: 10%;
  }
  .iconimg img{
    height: 150px;
    width: 150px;
 
  }
  .card h4{
    font-size: 1.5rem;
  } 
  .card p{
    font-size:1.1rem;
  }
  .mapcontainer{
    height: 256px;
  }
  

  
}
@media only screen and (max-width:990px){
  #navupload{
    border-radius: 0%;
   padding-left: 5px;
  
  }
}
@media only screen and (max-width: 580px){
  #name,textarea,.uploadform label{
    width: 75vw;
  }
  #uploadimage{
    width: 22rem;
  }
  #problemtype{
    width:11rem;
  }
  
} 




